html{
    font-size: 62.5%;
}

body{
    font-family:  'Montserrat', sans-serif;
    font-size: 1.6rem;
    line-height: 1;
    max-width: 1920px;
    margin: 0 auto;
    scroll-behavior: smooth;
    color: #001e26;
}

.container{
    max-width: 1350px;
    margin: 0 auto;
    padding: 0 15px;
}

.btn{
    padding: 8px 16px;
    font-weight: 600;
    border: 3px solid #fff;
    background-color: #fff;
    border-radius: 4px;
    color: #fff;
    display: inline-flex;
    align-items: center;
    transition: all 0.3s;
    &:hover{
        background-color: #fff;
        color: #001e26;
    }
}